:root{
    --header-color:#204051;
}
header{
    background-color: var(--header-color);
}
body{
    margin: 0px;
    text-align: center;
    background-color: #3b6978;
}
h1{
    text-align: center;
}
img{
    max-width: 70%;
    height: auto;
    marigin: 0px auto;
}
main{
    width: 90%;
    margin: auto;
    background-color:#cae8d5 ;
}
footer{
    background-color: #84a9ac;
}